body {
  background: linear-gradient( rgb(248, 185, 149), rgb(247, 94, 84));
 background-attachment: fixed;
  color: rgb(77, 38, 38);
  font-family: "Roboto", sans-serif;
  height: 100%;
  
  
}

.main-panel {
  
  width: 70%;
  
  
  min-height: 500px;
  display: flex;
  justify-items: center;
  margin: auto;
  margin-top: 40px;
  flex-direction: column;
  border-radius: 40px;
  /*box-shadow: 5px 5px 20px rgb(168, 23, 23);*/
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
 
}
header {
  display: flex;
  justify-content: flex-start;  
  align-items:center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.content {
  
  width: 500px;
  /*height: 300px;*/
  
  display: flex;
  align-self: center;
  margin: auto;
  flex-direction: column;
  margin-top: 0;
}

.results {
  display: flex;
  flex-direction: column;
 
 
}
.new-form {
  margin-bottom: 20px;
  
}
.task-input {
  background-color: rgb(248, 207, 184);
  outline: none;
  width: 375px;
  height: 30px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  border-style: none;
  padding-left: 5px;
  
  
}
.send-button {
  height: 32px;
}
.send-button, .delete-button{
  width: 110px;
  /*height: 32px;*/
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  border-style: none;
  margin-top: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: rgb(77, 38, 38);
  font-weight: 600;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
  -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
}
.send-button:hover, .delete-button:hover {
  box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);

}
.delete-button {
  background-color: (transparent, 0.5);
  border-style: none;
  
}
.new-div {
  
  display: flex;
  margin-bottom: 10px;
  width: 60%;
  justify-content: space-between;
  overflow-wrap: break-word;
}
.new-span {
  
  background-color: rgb(248, 160, 133);
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  padding: 5px;
  padding-left: 7px;
  width: 58%;
  color: rgb(77, 38, 38);
  
}